<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
	<style type="text/css">
		body{
			background-color: #737373;
			
		}
		h1{
			float: left;
		}
		a{
			text-decoration: none;
		}
		a:link { 
			color:#000000; 
			
		} 
		a:visited { 
			color:#33A6DC; 
			
		} 
		a:hover { 
			color:#000000; 
			
		} 
		a:active { 
			color:#FFFFFF; 
			
		} 
		form{
			margin-left: 33%;
		}
		form input[type='text']{
			width: 300px;
			height: 30px;
			margin-top: 20px;
		}
		form input[type='submit']{
			width: 60px;
			height: 40px;
			margin-top: 20px;
			
		}
	</style>
</head>
<body>
	<h1><a href="/">返回首页</a></h1>
	<h1 style="margin-left: 600px;"><a href="/detail">进入删除界面</a></h1>
	<h1 style="margin-left: 600px;"><a href="/detail1">进入修改界面</a></h1>
    <form action="/add" method="post">
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
    	名字：<input type="text" name="name"  /><br>
		内容：<input type="text" name="content"  /><br>
		添加：<input type="submit"  value="添加" />
    </form>
</body>
</html>